* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Dosis', sans-serif;
    color-scheme: blue;

}


#mainPage {}

body {}

.mainsection {}

.banner {
    height: 85vh;
    display: flex;
    position: relative;
    padding: 0 5% 0 5%;
    justify-content: center;
    align-items: center;
    background-color: #c1c3cc;
    background-image: linear-gradient(360deg, rgba(154, 158, 172, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-size: auto, cover;
    background-attachment: scroll, fixed;
}

.navigation {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    height: 78px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.brand {
    position: absolute;
    display: flex;
    background-color: #e47312;
    padding-right: 35px;
    padding-left: 35px;
    height: 110px;
    align-items: center;
    top: 0px;

}

.navbar {
    display: flex;
    align-items: center;
    margin-: 0%;
    position: absolute;
    right: 0;





}

.navitem {
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: Bahnschrift;
    font-weight: bold;
    font-size: 13px;
}

.Dropdown {
    padding: 5px;
}

.navitem::before {
    content: "";
    background-color: #fc8f00;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    width: 3px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    height: 0;

}

.navitem::after {
    content: " ";
    background-color: #fc8f00;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    width: 3px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    height: 0px;

}

.navitem:hover::before {
    height: 8px;

}

.navitem:hover::after {
    height: 10px;

}

.navitem:hover {
    color: #e47312;

}

.RTBtext {
    padding: 30px;
    background-color: #e47312;
    color: white;
    height: 100%;
    font-family: calibri;
    font-weight: bold;

}



.contact {
    display: flex;
    position: absolute;
    background-color: #e47312;
    right: 0%;
    bottom: -12%;
    width: 1000px;
    padding: 15px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #dd7f2d, #d68f25);


}

.detailswrapper {
    display: flex;
    padding: 30px;
    width: 100%;
    align-items:
        /* center */
    ;



}

.firstdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    color: white;
    /*   font-weight: normal; */
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;

}

.divp {
    margin-top: 8px;
    font-size: 12px;
}

.divh {
    padding: 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.infoimage {
    width: 50px;
    margin-bottom: 5px;
    color: #d68f25;
    padding: 10px;


}


.Refbox {
    position: absolute;
    display: flex;
    right: 0%;
    /*  top: 10%; */
    flex-direction: column;
    background-color: black;
    bottom: 130px;


}

.reficon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .pic{

} */
.pics-wrapper {
    display: flex;


}

.image-container {
    width: 500px;
    padding: 15px;

}

.main-img {
    /*     width: 100%; */
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*  position: relative; */
}

img {
    max-width: 300px;
}


.overlay-img {
    /* position: absolute; */
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    display: flex;
    /* justify-content: center; */
    /*    align-items: center; */
    opacity: 0;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.3);




}

.cards-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .2s;
    opacity: 0;
}


.view-project {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 90px;
    padding-right: 11px;
    padding-left: 11px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(59deg, #ff6361, #e47312);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.cards-image {
    position: relative;
    overflow: hidden;
}

.cards {
    padding-top: 20px;
    padding-right: 20px;
    float: left;
}

.projects-card {
    padding-right: 0px;
    padding-left: 0px;

}

.project-card:hover {
    opacity: 1;
}

.image-container:hover .overlay-img {
    opacity: 1;
}

.projects-card:hover .project-overlay,
.projects-card:hover .view-project {
    opacity: 1;
}

.overlay-data {
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpagehead {

    position: absolute;
    display: flex;
    left: 6%;
    top: 35%;



}

.middleheading {}

.mh,
.mp {
    margin-bottom: 10px;
}

.mbt {
    margin-top: 35px;
}

.mh {
    font-size: 70px;
    font-weight: normal;
    font-family: Bahnschrift;
    /*  font-family: Tw Cen MT Condensed,calibri; */
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -2px;

}

.mp {
    color: rgb(233, 225, 225);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.mbt {
    display: flex;
    padding: 30px;
    background-color: #e47312;
    color: white;
    height: 50px;
    width: 180px;
    font-family: calibri;
    justify-items: center;
    align-items: center;
}

.buttonmb {
    color: rgba(247, 242, 242, 0.377);
    font-size: 18px;
}

a {
    text-decoration: none;
}

.middle_sec {
    background-color: rgba(250, 245, 245, 0.24);
    /*  margin-top: 100px; */
    padding: 75px;
    padding-top: 180px;

}

.middlebody {

    background-color: rgba(224, 217, 217, 0.089);
    /*  margin: 10px; */
}

.title-left-upper {
    padding: 10px;
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    /*  font-family: Tw Cen MT Condensed,calibri; */
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    letter-spacing: ;

}

.mrtitle {
    color: rgb(114, 108, 108);
    padding: 10px;
    display: flex;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    right: 11%;
    top: 118%;
    justify-content: space-around;
    text-decoration: solid white;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: lighter;


}

.midtitle {
    display: inline-flex;
    justify-content: space-around;
}

.fourbox {

    background-color: rgb(255, 255, 255);
    /*  margin-top: 100px; */
    padding: 10px;
    margin-top: 10px;
    display: flex;


}

.fourboxbody {

    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.fbox {

    display: flex;
    /*  border: solid grey; */
    /*  width: 200px; */
    /*  height: 250px; */
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

#boxfour {


    display: flex;

    /*  text-align: justify; */
}

.mcon {
    /*  display: flex;
    flex-direction: column; */

}

.mimg {
    width: 65px;
    height: 65px;

}

.mtitle {

    padding: 10px;
    margin-top: 5px;
    font-size: 25px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
    display: flex;

}

#ft {
    /* display: inline-block; */

}

.mparah {

    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.mlink {
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
}

.osmidsec {
    margin-top: 80px;
    display: flex;

}

.osmidmain {
    /*  margin: 10px; */
    display: flex;
    flex-direction: row;
    /*  position: absolute; */
}

.osmidboxleft {
    display: flex;
    position: relative;


}

.lftimage img {

    width: "10";
}

.osmidboxright {
    display: flex;
    padding: 10px;
    position: relative;
    left: 3.3%;
    flex-direction: column;
    /* border: solid black; */
    max-width: 600px;


}

.insideos {
    position: relative;
    left: 8%;
}

.osheading {
    position: relative;
    top: -30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

.oswatermarkheading {
    position: absolute;
    left: -10px;
    top: -75px;
    font-family: Bahnschrift;
    color: rgba(103, 110, 110, 0.123);
    font-size: 60px;
    letter-spacing: 11px;
    Bahnschrift
}


.osmidboxleft img {

    max-width: 100%;
    width: 600px;
    height: auto;
}

.osparah {

    font-size: 15px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    padding-top: 30px;
    text-align: justify;
    padding-right: 20%;


}

.osbottomlink {
    margin-top: 10px;
    padding-top: 50px;
}

.numbersec {
    padding: 10px;
    margin-top: 50px;
}

.numbersecbox {
    padding: 10px;
    display: flex;
    position: relative;
}

.numbox {
    /*  padding: 10px; */
    /* border:1px  solid grey;
    border-radius: 16px; */
    margin: 8px;
    position: relative;
    display: flexbox;


}

.bignum {

    display: flex;
    position: relative;
    /* margin-bottom: 10px; */
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-family: Bahnschrift;
    font-weight: bold;

}

.nump {

    font-size: 18px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
    margin-top: 5px;
    /*  margin-bottom: 5px; */
    text-transform: capitalize;
}

.numdot {

    display: flex;
    color: #e47312;
    font-size: 30px;
    font-family: Bahnschrift;
    font-weight: bold;
    position: absolute;
    top: 6%;
    left: 12.5%;
}

#d1 {
    top: 6%;
    left: 23.2%;
}

#d3 {
    top: 6%;
    left: 29%;
}

#d4 {
    display: none;
}

.imagsec {
    /* border: 2px solid rgb(248, 0, 0); */
    display: flex;
    margin-top: 50px;
    /*  max-width: 100%; */
    height: auto;

}

.imagmain {

    /*   border: 2px solid rgba(116, 43, 43, 0.712); */
    /* padding: 10px; */
}

.imagheadsec {
    /* border: 2px solid rgb(75, 0, 250); */
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
}

.imaghead {
    /*   border: 2px solid rgb(81, 253, 1); */
    position: relative;

    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

.imagelink {
    /* border: 2px solid rgb(255, 0, 255); */

    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
}

.imagbody {
   /*  border: 2px solid rgb(134, 132, 132); */
    display: flex;
    height: auto;
    flex-direction: column;
}



.image-box {

    width: 33.33%;
    padding: 15px;
    

}


.main-img img {
    max-width: 100%;


}
.imgco img{
    background-color: #183de2;
}

.main-img {
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    position: relative; 



}

#vp {
    color: rgb(250, 246, 246);
    font-size: 12px;
    letter-spacing: 1px;
    font-family: Bahnschrift;
    text-transform: uppercase;

    
}
.img-box-1{
    display: flex;
}

.hov-img {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    transition: 0.3s;
    background-color: rgba(2, 2, 2, 0.226); 
    
}

.hov-data {

    background-image: linear-gradient(180deg, rgb(252, 165, 3), rgb(131, 123, 123));
    width: 100px;
    height: 100px;
    border-radius: 100%;position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: clip;
    
   /*  border: solid 1px black; */
  

}

.image-box:hover .hov-img {
    opacity: 1;
    
}

.imagefootersec {

    display: flex;
}

.imagefootermain {

    display: flex;
    flex-direction: column;
    background-color: #d68f25;
    width: 100%;
    align-items: center;
    padding: 100px;

}

.imagefooterhead {
    position: relative;
    margin-bottom: 15px;
    letter-spacing: -1px;
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.imagefooterparah {

    font-size: 20px;
    padding-bottom: 30px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    padding-top: -10px;
    margin-top: -5px;
    color: rgba(255, 255, 255, 0.692);
    /* margin-top: 5px; */
    /*  margin-bottom: 5px; */
    text-transform: capitalize;
}

.imagefooterlink {

    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.professionalsec {
    /* border: 2px solid rgb(248, 0, 0); */
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: auto;

}

.professionalmain {

    /*   border: 2px solid rgba(116, 43, 43, 0.712); */
    /* padding: 10px; */
    width: 100%;
}

.professionalheadsec {
    /* border: 2px solid rgb(75, 0, 250); */
    /* padding-top: 10px; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.professionalhead {
    /*   border: 2px solid rgb(81, 253, 1); */
    position: relative;

    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

.professionallink {
    /* border: 2px solid rgb(255, 0, 255); */

    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
}

.professionalbody {
    /*  border: 2px solid rgb(134, 132, 132); */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding: 10px;

}

.pimagbox {

    /*  border: 1px solid black; */

    /*  width: 100; */
    padding: 10px;


}

.pimagebox1 {
    display: flex;
    position: relative;
    /*  padding: 10px; */

    /*  max-width: 100%;
    border: solid black; */
}

#pimagbox1 {

    position: relative;
    /* border: 5px solid rgb(221, 8, 8); */
    /*  padding: 10px; */
    background-color: rgb(255, 255, 255);
    float: left;

    width: 100%;
    /* margin: 20px; */


}

#pimagbox1 img {

    display: flex;
    /* width: 100%; */
    height: auto;


}

.pim {
    /*    border: 5px solid black; */
    height: 310px;
    overflow: hidden;

    /* width: 100%; */



}

.pim img {
    width: 100%;
    height: auto;

}

.pRefbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(247, 101, 4, 0.884);
    right: 0%;
    top: 55%;
    bottom: 0%;
    padding: 5px 10px 0 10px;
    height: auto;
    /*  top: 10%; */
    /*  bottom: 130px; */


}

.preficon {
    width: 40px;
    height: 40px;
    display: flex;
    padding: 3.55px;


    justify-content: center;
    align-items: center;
    align-items: center;
    align-content: center;

}

.whitspace {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: rgba(223, 154, 93, 0.911);
    border: .2px solid;
    width: 40px;


}

.pcentimg {
    margin-top: 50px;
    position: relative;
    /* margin-bottom: 15px; */
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    /*  padding-top: 20px; */
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

.pwatermarkheading {
    margin: 10px;
    font-size: 18px;
    padding-left: 10px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    color: rgba(114, 108, 108, 0.699);
    text-transform: capitalize;



}


.teamsec {
    /*  border: solid 1px black; */
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 100px 0px;
    background-color: #f7f8fc;
}

.teambody {
    /*   border: solid 1px black; */
    margin: 5px;

}

.teamdiv {
    /*  border: solid 5px rgb(1, 17, 250); */
    margin: 5px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.teamtitle {
    /*  border: solid 1px black; */
    margin: 5px;
    display: flex;
    align-items: center;
    align-content: center];
    justify-content: stretch;
}

.teamhead {
    /* border: solid 1px black; */
    position: relative;
    left: -50px;
    font-family: Bahnschrift;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 1px;


}

.teamwatermark {
    /*   border: solid 1px black; */
    max-width: 100;
    position: absolute;
    left: 2%;
    margin-top: -20px;

    font-family: Bahnschrift;
    color: rgba(74, 90, 90, 0.185);
    font-size: 105px;
    letter-spacing: 11px;

}

.teamlink {
    /*  border: solid 1px black; */
    position: relative;
    right: -700px;
}

.teampic {
    border: solid 5px rgb(238, 255, 0);
    margin: 5px;
    max-width: 100;
    height: auto;
    /* overflow: auto; */
    display: flex;
    justify-content: center;


}

.teampic1 {
    border: solid 5px rgb(109, 84, 70);
    background-color: #183de2;
    margin: 6px;
    float: left;
    width: 20%;
    height: auto;
    position: relative;


}



.teamphoto img {
    border: solid 5px black;
    max-width: 100%;
    height: auto;


}

.teamcont {
    border: solid 1px black;
    margin: 5px;
}

.tctitle {
    /* border: solid 1px black;
    margin: 5px;*/
}

.jobdesignation {
    /*   border: solid 1px black;
    margin: 5px; */
}

.teammedialink {
    border: solid 5px black;
    margin: 10px;
    display: flex;
    position: absolute;
    bottom: -10px;
    right: 0;
    background-color: #d68f25;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    align-content: space-between;
    height: auto;
    /*  width: 50px; */
    align-items: center;
    justify-content: center;

}

.socialicon {
    padding: 5px;

}

.teamcontent {
    /*   border: solid 1px black;
    margin: 5px; */
}




.testimonials-section {
    box-sizing: border-box;
    margin-top: 100px;
    padding: 50px 50px;
    display: flex;
}

.testimonial-sub-left-section {
    box-sizing: border-box;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}
}

.two-items-wrapper {
    box-sizing: border-box;
    width: 50%;
}

.testimonial-sub-right-section {
    box-sizing: border-box;
    width: 60%;
    display: flex;
}

.testimonial-desc {
    box-sizing: border-box;
    position: relative;
    padding: 0px 90px 0px 0px;
}

.testi-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600; */

    position: relative;

    /*  margin-bottom: 15px;
    letter-spacing: 1px; */
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
}

.testi-paragraph {


    font-size: 15px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    padding-top: 30px;
    text-align: justify;
   

}

.testi-paragraph.padd {
  /*   padding-right: 50px; */
}

.for-button.service {
    margin-top: 25px;
}

.client-background {
    z-index: 0;
    margin: 0;
    position: absolute;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    font-weight: 600;
    letter-spacing: 11px;
    top: -10px;
    left: -40px;
}

.testimonial-wrappers {
    position: relative;
    box-sizing: border-box;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
    width: 85%;
}

.testimonial-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)
}

.testimonial-photo p {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-25%)
}

.testi-title {
    margin: 15px 0px 5px 0px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.second-grid {
    margin-top: 150px;
}



.blogs-section {
    box-sizing: border-box;
    padding-top: 100px;
    background-color: #fff;
}

.project-head-section {

    display: flex;
    position: relative;
    top: 0%;
    /*  align-items: center; */
    justify-content: space-between;
    /* justify-items: center; */

}

.top-title-special {
    font-size: 45px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(2, 2, 2);

}

.blogs-wrapper {
    box-sizing: border-box;
    max-width: 100%;
    padding: 50px 40px;
    display: flex;
    flex-wrap: wrap;
}

.blogs {
    position: relative;
    width: calc(33% - 20px);
    margin: 0px 10px;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    cursor: pointer;
}

.blog-image {
    max-width: 100%;
}

.for-button_special_service {
    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    padding-top: 30px;
    text-align: justify;
    padding-right: 20%;


}

.projectbackground-title {


    position: absolute;
    left: -10px;
    top: -70px;
    font-family: Bahnschrift;
    color: rgba(103, 110, 110, 0.123);
    font-size: 120px;
    letter-spacing: 11px;



}

.blogs-date {
    position: absolute;
    top: 0;
    right: 0;
}

.meta-number {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta-number p {
    margin: 0;
}

.meta-month {
    width: 70px;
    height: 40px;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta-month p {
    margin: 0;
    text-transform: uppercase;
}

.blog-content {
    box-sizing: border-box;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
}

.blog-title {
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: Bahnschrift;



}

.for-button.blog {
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.2);
    transition: all 0.3s;
    color: #f7f8fc;
    font-weight: bold;
}

.for-button.blog:hover {
    border-bottom: 2px solid #fff;
}

.for-button-special{
    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
    color: rgb(114, 108, 108);
}

.blog-footer {
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 100px;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
    padding: 7% 5% 7% 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paragraph-white.blog {
    color: #fff;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.paragraph-white-bigger{
    color: white;
    font-weight: lighter;
}

.blog-title.blog {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
}

.footer {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 70px 25px 200px 25px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
    display: flex;
}

.footer-cards {
    box-sizing: border-box;
    width: calc(33.33% - 50px);
    margin: 0px 25px;
    padding-right: 50px;
    color: white;


    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    font-family: calibri;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.about-and-line {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.about-line {
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: #ff6361;
}

.phone-text.blog {

    font-size: 15px;
    font-weight: lighter;
    font-family: Bahnschrift;
    text-transform: capitalize;
    line-height: 25px;
}

.for-button.foo {
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    line-height: 15px;
}

.blog-title-contact {

    font-weight: normal;
    font-size: 13px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    line-height: 15px;



}


.blog-title.width {
    margin: 0;
    width: 200px;
    padding-right: 14px;
    font-size: 15px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;

}

.job-title.email {
    margin-top: -10px;
    font-size: 18px;

    letter-spacing: 1px;
    line-height: 30px;

    font-size: 15px;
    font-weight: lighter;
    font-family: Bahnschrift;
    text-transform: capitalize;
    color: #c5c5e7;

    /* margin-left: 35px; */
}

.footer-image {
    display: inline-block;
    width: 20px;
    position: relative;
    top: -35px;
    margin-right: 10px;
}


.for-button {
    margin-top: 25px;
    font-size: 13px;
    font-weight: normal;
    font-family: Bahnschrift;
    text-transform: uppercase;
}

.brand_lowest {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 100px;
    width: 150px;
    left: 50px;
    background-color: #d68f25;

}

.numk {
    position: relative;
    /*  border: solid 1px white;  */
    display: flex;
    top: 35px;
    left: 25px;
    max-width: 100%;
    align-items: center;
    justify-content: center;

}

.top1 {

    display: relative;
    /*  border: 1px solid white; */
    display: flex;
    float: left;
    padding: 5px;

}

.top2 {
    /*  border: 1px solid white; */
    display: flex;
    flex-direction: column;
    line-height: 1px;
    margin-left: 10px;


}

.info-big-wrapper {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    display: none;
}

.info-big-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.2);
}

.info-left-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    z-index: 10000;
    padding: 95px 50px 35px 70px;
    background-color: #fff;
    transform: translateX(100%);
    transition: all .2s ease-out;
}

.top-margin {
    margin-top: 50px;
}

.top-margin.half {
    margin-top: 25px;
}

.top-margin.half.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
